language: android


before_cache:
    - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:      #Cache all dirs under .gradle folder
    - $HOME/.gradle/daemon      #Cache daemon logs
    - $HOME/.gradle/native      #Cache library downloaded from the gradle dependency
    - $HOME/.gradle/wrapper     #Cache the gradle

env:
  global:
  - ADB_INSTALL_TIMEOUT=10    #Time out to 10 mins
  - GRADLE_OPTS="-Dorg.gradle.jvmargs=-Xmx2560M"

android:
  update_sdk: true
  components:
    - platform-tools
    - tools
    - build-tools-25.0.2
    - android-24
    - android-25
    - extra-android-m2repository

    # The android emulator image
    - sys-img-armeabi-v7a-android-24

jdk:
  - oraclejdk8

before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"

licenses:
  - android-sdk-license-.+
  - '.+'

branches:
  except:
    - gh-pages

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.m2

# Emulator Management: Create, Start and Wait
before_script:
  - echo no | android create avd --force -n test -t "android-24" --abi armeabi-v7a
  - emulator -avd test -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script:
  - ./gradlew jacocoTestReport -PdisablePreDex
after_success:
  - ./gradlew coveralls -PdisablePreDex
