<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kelsos.mbremote"
    android:installLocation="auto"
    android:versionCode="2"
    android:versionName="0.2 Alpha" >
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:description="@string/app_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/Theme.remotetheme"
		android:name=".RemoteApplication" >
        <activity android:name=".Views.MainView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.LyricsView" >
        </activity>
        <activity android:name=".Views.AppPreferenceView" >
        </activity>
        <activity android:name=".Views.PlaylistView" >
        </activity>
        <service
            android:name=".controller.Controller"
            android:description="@string/connectivity_handler_description"
            android:permission="android.permission.READ_PHONE_STATE" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </service>
    </application>
</manifest>