<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  android:installLocation="auto">

  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <uses-sdk tools:overrideLibrary="timber.log" />

  <application
    android:name=".App"
    android:allowBackup="true"
    android:enableOnBackInvokedCallback="true"
    android:description="@string/application_description"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/application_name"
    android:logo="@mipmap/ic_launcher"
    android:theme="@style/Theme.App"
    tools:ignore="UnusedAttribute">

    <activity
      android:name=".UpdateRequiredActivity"
      android:exported="true" />

    <activity
      android:name=".features.player.PlayerActivity"
      android:launchMode="singleTop"
      android:exported="true"
      android:noHistory="true"
      android:theme="@style/Theme.App.Starting"
      android:windowSoftInputMode="adjustNothing" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".features.library.LibraryActivity"
      android:label="@string/nav_library"
      android:parentActivityName=".features.player.PlayerActivity">

      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".features.player.PlayerActivity" />
    </activity>

    <activity android:name=".features.library.AlbumTracksActivity" />

    <activity android:name=".features.library.ArtistAlbumsActivity" />

    <activity android:name=".features.library.GenreArtistsActivity" />

    <activity
      android:name=".features.lyrics.LyricsActivity"
      android:label="@string/nav_lyrics"
      android:parentActivityName=".features.player.PlayerActivity">

      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".features.player.PlayerActivity" />
    </activity>

    <activity
      android:name=".features.nowplaying.NowPlayingActivity"
      android:label="@string/nav_now_playing"
      android:parentActivityName=".features.player.PlayerActivity">

      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".features.player.PlayerActivity" />
    </activity>

    <activity
      android:name=".features.playlists.PlaylistActivity"
      android:label="@string/nav_playlists"
      android:parentActivityName=".features.player.PlayerActivity">

      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".features.player.PlayerActivity" />
    </activity>

    <activity
      android:name=".features.settings.SettingsActivity"
      android:parentActivityName=".features.player.PlayerActivity">

      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".features.player.PlayerActivity" />
    </activity>

    <activity
      android:name=".features.settings.ConnectionManagerActivity"
      android:parentActivityName=".features.settings.SettingsActivity"
      android:windowSoftInputMode="adjustNothing">

      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".features.settings.SettingsActivity" />
    </activity>

    <activity
      android:name=".features.help.HelpFeedbackActivity"
      android:label="@string/title_activity_help_feedback"
      android:parentActivityName=".features.player.PlayerActivity"
      android:windowSoftInputMode="adjustNothing">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.kelsos.mbrc.features.player.PlayerActivity" />
    </activity>

    <activity
      android:name=".features.radio.RadioActivity"
      android:label="@string/title_activity_radios"
      android:parentActivityName=".features.player.PlayerActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.kelsos.mbrc.features.player.PlayerActivity" />
    </activity>

    <receiver
      android:name=".features.widgets.WidgetNormal"
      android:exported="false">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/remote_widget_normal" />
    </receiver>

    <receiver
      android:name=".platform.mediasession.MediaButtonReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>

    <receiver
      android:name=".features.widgets.WidgetSmall"
      android:exported="false">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/remote_widget_small" />
    </receiver>

    <service
      android:name=".platform.RemoteService"
      android:description="@string/info_service_description"
      android:exported="false"
      android:foregroundServiceType="connectedDevice">
      <intent-filter>
        <action android:name="com.kelsos.mbrc.notification.play" />
        <action android:name="com.kelsos.mbrc.notification.next" />
        <action android:name="com.kelsos.mbrc.notification.close" />
        <action android:name="com.kelsos.mbrc.notification.previous" />
      </intent-filter>
    </service>

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/filepaths" />
    </provider>

  </application>

</manifest>
