<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kelsos.mbrc"
    android:installLocation="auto">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

  <application
      android:name=".App"
      android:allowBackup="true"
      android:description="@string/application_description"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/application_name"
      android:logo="@mipmap/ic_launcher"
      android:theme="@style/Theme.App"
      android:supportsRtl="false"
      tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
    <activity
        android:name=".ui.activities.SplashActivity"
        android:noHistory="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service
        android:exported="false"
        android:name=".platform.RemoteService"
        android:description="@string/info_service_description">
      <intent-filter>
        <action android:name="com.kelsos.mbrc.notification.play" />
        <action android:name="com.kelsos.mbrc.notification.next" />
        <action android:name="com.kelsos.mbrc.notification.close" />
        <action android:name="com.kelsos.mbrc.notification.previous" />
      </intent-filter>
    </service>

    <receiver android:name=".platform.mediasession.MediaButtonReceiver">
      <intent-filter>
        <action android:name="android.media.AUDIO_BECOMING_NOISY" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.kelsos.mbrc.features.widgets.WidgetSmall">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/remote_widget_small" />
    </receiver>
    <receiver android:name="com.kelsos.mbrc.features.widgets.WidgetNormal">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/remote_widget_normal" />
    </receiver>

    <activity
        android:name=".NavigationActivity"
        android:label="@string/title_activity_bottom_navigation" />
  </application>

</manifest>
