<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.kelsos.mbrc"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

  <uses-sdk tools:overrideLibrary="timber.log" />

  <application
      android:name=".RemoteApplication"
      android:allowBackup="true"
      android:description="@string/application_description"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/application_name"
      android:logo="@mipmap/ic_launcher"
      android:theme="@style/AppTheme"
      tools:ignore="UnusedAttribute">

    <activity
        android:name=".ui.activities.MainActivity"
        android:launchMode="singleTop"
        android:windowSoftInputMode="adjustNothing">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".ui.activities.SettingsActivity"
        android:parentActivityName=".ui.activities.MainActivity">
      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ui.activities.MainActivity" />
    </activity>

    <activity
        android:name=".ui.activities.ConnectionManagerActivity"
        android:parentActivityName=".ui.activities.SettingsActivity"
        android:windowSoftInputMode="adjustNothing">
      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ui.activities.SettingsActivity" />

    </activity>

    <activity
        android:name=".ui.activities.FeedbackActivity"
        android:label="@string/title_activity_feedback"
        android:parentActivityName=".ui.activities.MainActivity">
      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ui.activities.MainActivity" />
    </activity>

    <service
        android:name=".controller.RemoteService"
        android:description="@string/info_service_description"
        android:permission="android.permission.READ_PHONE_STATE">
      <intent-filter>
        <action android:name="android.intent.action.PHONE_STATE" />
        <action android:name="android.net.wifi.STATE_CHANGE" />
        <action android:name="com.kelsos.mbrc.notification.play" />
        <action android:name="com.kelsos.mbrc.notification.next" />
        <action android:name="com.kelsos.mbrc.notification.close" />
        <action android:name="com.kelsos.mbrc.notification.previous" />
      </intent-filter>
    </service>

    <receiver android:name=".utilities.MediaButtonReceiver">
      <intent-filter>
        <action android:name="android.media.AUDIO_BECOMING_NOISY" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>

    <meta-data
        android:name="roboguice.modules"
        android:value="com.kelsos.mbrc.RemoteModule" />
    <meta-data
        android:name="roboguice.annotations.packages"
        android:value="roboguice,mbrc" />

    <receiver android:name=".widgets.WidgetSmall">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/remote_widget_small" />
    </receiver>

    <receiver android:name=".widgets.WidgetNormal">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/remote_widget_normal" />
    </receiver>

  </application>
</manifest>
