<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.kelsos.mbrc"
          android:installLocation="auto">

  <application
    android:name=".PlayRemoteApplication"
    tools:replace="android:name">
    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="${apiKey}" />
  </application>

</manifest>
