<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.kelsos.mbrc"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto"
          xmlns:tools="http://schemas.android.com/tools">

  <application
      android:name=".DebugApplication"
      tools:replace="android:name"
    >
  </application>

</manifest>
