<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

  <application
      android:name="com.kelsos.mbrc.DebugApp"
      android:largeHeap="true"
      android:allowBackup="false"
      tools:replace="android:name,android:allowBackup"
      tools:ignore="GoogleAppIndexingWarning">
    <activity android:name="com.kelsos.mbrc.utils.SingleFragmentActivity" />
  </application>

</manifest>
